<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lege schappen</title>

    <link rel="stylesheet" href="{% static '/materialize.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Lege Schappen</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
            <li><a href="/mijn_supermarkten">Mijn supermarkten</a></li>
            <li><a href="/buy_tickets">Meld lege schappen</a></li>
            <li><a href="/logout">Uitloggen</a></li>
            {% else %}
              <li><a href="/supermarkten">Supermarkten</a></li>
              <li><a href="/aanmelden">Aanmelden</a></li>
              <li><a href="/inloggen">Inloggen</a></li>
            {% endif %}
          </ul>
        </div>
    </nav>

      {% if messages%}
        {%for message in messages %}
          <script>M.toast({html:  "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
        {% endfor %}
      {% endif %}

      <div class="container">
        <br>
            {% block content %}
            {% endblock %}
      </div>
        <script src="{% static '/main.js' %}"></script>
    </body>
</html>