{% extends "header.html" %}
{% block content %}

      <table id="app">
        <thead>
          <tr>
              <th>Supermarkt</th>
              <th>Adres</th>
              <th>Plaats</th>
          </tr>
        </thead>

        <tbody v-for="supermarkt in supermarkten">
          <tr style= v-o"display:none;"n:click="greet()"  style="cursor:pointer">
            <td >[[ supermarkt.bedrijf ]]</td>
            <td>[[ supermarkt.adres ]]</td>
            <td>[[ supermarkt.plaatsnaam ]]</td>
            <td>[[ supermarkt.uitverkochte_producten ]]</td>
          </tr>
        <tr v-for="product in greet(supermarkt.uitverkochte_producten)"><td><a>[[product]]</a></td></tr>
        </tbody>
      </table>

<script type='text/javascript'>
        var supermarkten = {{ supermarkten|safe }};
</script>
<script>
    var joe = false;
    var app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      data: {
          producten: supermarkten.uitverkochte_producten,
          supermarkten: supermarkten,
      },
      methods: {
          greet: function(string) {

               return string.split(",")
          }
      }
    });
</script>


{% endblock %}