{% extends "header.html" %}
{% block content %}


<div id="app">
  <table>
      <thead>
          <tr>
              <th>Supermarkt</th>
              <th>Adres</th>
              <th>Plaats</th>
              <th></th>
          </tr>
        </thead>
      <tbody is="supermarkt_uitverkochte_producten" v-for="supermarkt in supermarkten" :supermarkt="supermarkt" :key="supermarkt"></tbody>
  </table>
</div>

<script type='text/javascript'>
        var supermarkten = {{ supermarkten|safe }};
        var show = false;
</script>

<script>

Vue.component('productenlijst', {
props: ['uitverkochte_producten'],
    data(){return{
    producten: ["pasta", "wc-papier", "corona-bier", "vlees", "rijst", "paracetamol", "alcohol", "knakworsten", "blikvoer"],
    }},
  template: `<div>
    <p v-for="product in producten">
      <label>
        <input type="checkbox" />
        {% verbatim %}
        <span>{{product}}</span>
      </label>
    </p>
    </div>
  `
})

  Vue.component('supermarkt_uitverkochte_producten', {
  props: ['supermarkt'],
  data(){ return{
    isHidden: false,
    toonLijst: false,

  }},
        methods: {
           naar_supermarkt: function() {
               console.log("joe");
          },
      },

  template: `<tbody>
  <tr style="cursor:pointer" >
    <td v-on:click="isHidden = !isHidden" >{{ supermarkt.bedrijf }}</td>
    <td v-on:click="isHidden = !isHidden" >{{  supermarkt.adres }}</td>
    <td v-on:click="isHidden = !isHidden" >{{  supermarkt.plaatsnaam }}</td>
    <td> <a class="btn-floating btn-large waves-effect waves-light red" v-on:click="toonLijst = !toonLijst"><i class="large material-icons">add</i></a></td>
  </tr>
  <tr v-show="isHidden">Uitverkochten producten</tr>
  <tr v-show="isHidden" v-for='product in supermarkt.uitverkochte_producten'><a>{{product}}</a></tr>
  <productenlijst v-show="toonLijst" />
  </tbody>
  `
  {% endverbatim %}
})
    var app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      data: {
          supermarkten: supermarkten,
      },
    });

</script>

{% endblock %}